# Large raw reads
full_input_reads/

# Snakemake working directory
.snakemake/

# Generated outputs
pipeline_outputs/

# Mapping files
*.sam

# Bowtie2 index files
*.bt2

# BLAST database files
*.nin
*.nhr
*.nsq
*.ndb
*.not
*.ntf
*.nto

# Large reference downloads
reference_genome/ncbi_dataset/
reference_genome/*.zip

# Editor junk
.DS_Store
*.swp